<!-- <div class="flex h-full flex-1 relative">
    <input type="checkbox" name="sidebar-toggle" id="sidebar-toggle" class="hidden">
    <label for="sidebar-toggle">
        <span class="icon-menu px-8 absolute cursor-pointer"></span>
    </label>
    <div class="sidebar overflow-hidden transition-all duration-300">
        <app-sidebar></app-sidebar>
    </div>
    <section class="outlet flex-1 bg-zinc-800 text-white">
        <router-outlet>
        </router-outlet>
    </section>
</div> -->
<!-- <router-outlet></router-outlet> -->