<div class="flex h-full flex-1 relative">
    <!-- primaryNav -->
    <!-- <input type="checkbox" id="primaryNav" > -->
    <input type="checkbox" name="sidebar-toggle" id="sidebar-toggle" class="hidden">
    <label for="sidebar-toggle">
        <span class="icon-menu px-8 absolute cursor-pointer"></span>
    </label>
    <div class="sidebar overflow-hidden transition-all duration-300">
        <app-master></app-master>
    </div>
    <!-- </div> -->
    <section class="outlet flex-1 bg-zinc-800 text-white">
        <router-outlet>
        </router-outlet>
    </section>
</div>