<div class="p-10">
    <!-- Start : Header -->
    <header>
        <!-- Start : Project Name -->
        <div class="flex justify-between">
            <div class="flex">
                <h2 class="text-3xl mr-7">Project Name</h2>
                <p class="flex items-center bg-zinc-700 rounded-full p-1">According to Plan</p>
            </div>
            <!-- Avatar -->
            <div>
                <figure>
                    <img src="assets/img/images/image4.jpg" alt="avatar" class="object-cover rounded-[50%] p-2 h-10">
                </figure>
            </div>
        </div>
        <!-- End : Project Name -->
        <!-- Start : Modules -->
        <ul class="flex">
            <li class="pr-3">
                <a href="">Overview</a>
            </li>
            <li class="pr-3">
                <a href="">Task</a>
            </li>
        </ul>
        <!-- End : Modules -->
    </header>
    <!-- End : Header -->
    <!-- Start : Main Section -->
    <main class="flex">
        <!-- Start : Project Info Section -->
        <section class="p-16 ">
            <div>
                <!-- Project Info -->
                <h3 class="text-3xl ">Project Info</h3>
                <!-- Project Details -->
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cumque modi praesentium ratione
                    magnam
                    inventore, odio et, delectus voluptas, officiis commodi voluptatum reprehenderit soluta vel! Est
                    pariatur possimus totam recusandae, doloremque delectus molestias eligendi doloribus officia
                    repellat,
                    eos non ad excepturi maxime, ipsum autem soluta perferendis rem odit quo et!</p>
            </div>
            <!-- Files -->
            <div>
                <p>**Files Section**</p>
            </div>
            <!-- Work in Progress -->
            <div>
                <p>**Work Progress Section**</p>
            </div>
        </section>
        <!-- End : Project Info Section -->
        <!-- Start : User Info Section -->
        <section>
            <!-- User -->
            <div>
                <span>Responsible</span>
                <!-- user profile -->
                <div>
                    <figure>
                        <img src="assets/img/images/image4.jpg" alt="" class="object-cover rounded-[50%] p-2 h-12">
                    </figure>
                </div>
            </div>
        </section>
        <!-- End : User Info Section -->
    </main>
    <!-- End : Main Section -->
</div>